{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "templateStrings": true,
        "arrowFunctions": true,
        "objectLiteralShorthandProperties": true
    }
}
