@import url(http://weloveiconfonts.com/api/?family=fontawesome);

#qv {
    -webkit-transition: width 0.5s 0.0s, height 0.5s 0.5s;
    -moz-transition: width 0.5s 0.0s, height 0.5s 0.5s;
    transition: width 0.5s 0.0s, height 0.5s 0.5s;
    position: fixed;
    left: 2%;
    top: 2%;
    z-index: 999;
    width: 0px;
    height: 0px;
    color: #595959;
    //border: 1px solid #F1F1F1;
    background: #F9F9F9;
    //opacity: 0;
    overflow: hidden;
}

#qv.large {
    //display: block;
    //opacity: 100;
    width: 1204px;
    height: 510px;
}

#qv.small {
    //display: block;
    //opacity: 100;
    width: 990px;
    height: 390px;
}

#qv-iframe {
    float: left;
}

#qv.large > #qv-side {
    float: left;
    width: 350px;
    height: 500px;
}

#qv.small > #qv-side {
    float: left;
    width: 350px;
    height: 390px;
}

#qv-bar {
    width: 100%;
    height: 30px;
    background: #af2b26;
    line-height: 30px;
    color: #EEEEEE
}

#qv-bar a {
    text-decoration: none;
    color: inherit;
}

#qv-bar a:hover {
    font-weight: bold;
    color: #FEFEFE;
}

#qv-title {
    padding-left: 0.75em;
    display: inline-block;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#qv-size-toggle {
    display: inline-block;
    float: right;
    padding-right: 0.75em;
}

#qv-comments {
    background: #FEFEFE;
    overflow: auto;
    height: 100%;
}

.qv-comment {
    margin: 0.75em 1em;
}

.qv-content {
    font-size: 1.125em;
}

.qv-author {
    color: #9F9F9F;
    font-size: 0.75em;
    //margin-right: 1em;
}

.qv-date {
    color: #9F9F9F;
    font-size: 0.75em;
    float: right;
}
