#qv {
    -webkit-transition: width 0.3s 0.0s, height 0.3s 0.3s;
    -moz-transition: width 0.3s 0.0s, height 0.3s 0.3s;
    transition: width 0.3s 0.0s, height 0.3s 0.3s;
    position: fixed;
    left: 2%;
    top: 2%;
    z-index: 1999999999;
    width: 0px;
    height: 30px;
    color: #595959;
    font-family: Roboto,arial,sans-serif;
    overflow: hidden;
}

#qv.small {
    width: 990px;
    height: 390px;
}

#qv.large {
    width: 1204px;
    height: 510px;
}

#qv-iframe {
    float: left;
}

#qv-side {
    position: relative;
    float: right;
    z-index: 9999;
    width: 350px;
    overflow: auto;
    background: hsl(0, 0%, 100%);
    -webkit-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    -moz-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    transition: height 0.4s 0.0s, left 0.4s 0.4s;
}

#qv.large #qv-side {
    height: 510px;
}

#qv.small #qv-side {
    height: 390px;
}

#qv-bar {
    width: 100%;
    height: 30px;
    background: #af2b26;
    line-height: 30px;
    color: #EEEEEE
}

#qv-bar a {
    color: rgb(248, 242, 242);
}

#qv-side a:hover {
    text-decoration: underline;
}

#qv-qv {
    padding-left: 0.75em;
    display: inline-block;
}

#qv-title {
    margin-bottom: 13px;
}

#qv-size-toggle {
    display: inline-block;
    float: right;
    padding-right: 0.75em;
}

#qv.large #qv-size-toggle:before {
    content:"-";
}

#qv.small #qv-size-toggle:before {
    content:"+";
}

#qv-options-link {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vflDvab3L.webp) -347px -66px;
    width: 20px;
    height: 20px;
    background-size: 419px 399px;
    -webkit-filter: invert();
}
