#qv {
    -webkit-transition: width 0.4s 0.0s, height 0.4s 0.4s;
    -moz-transition: width 0.4s 0.0s, height 0.4s 0.4s;
    transition: width 0.4s 0.0s, height 0.4s 0.4s;
    position: fixed;
    left: 2%;
    top: 2%;
    z-index: 999;
    width: 0px;
    height: 30px;
    color: #595959;
    //background: #F9F9F9;
    overflow: hidden;
}

#qv.large {
    width: 1204px;
    height: 510px;
}

#qv-iframe {
    float: left;
}

#qv-side {
    position: relative;
    float: right;
    -webkit-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    -moz-transition: height 0.4s 0.0s, left 0.4s 0.4s;
    transition: height 0.4s 0.0s, left 0.4s 0.4s;
    z-index: 9999;
    width: 350px;
}

#qv-side.large {
    left: 0px;
    height: 510px;
}

#qv-side.small {
    left: -214px;
    height: 390px;
}

#qv-bar {
    width: 100%;
    height: 30px;
    background: #af2b26;
    line-height: 30px;
    color: #EEEEEE
}

#qv-bar a {
    text-decoration: none;
    color: inherit;
}

#qv-bar a:hover {
    font-weight: bold;
    color: #FEFEFE;
}

#qv-title {
    padding-left: 0.75em;
    display: inline-block;
}

#qv-size-toggle {
    display: inline-block;
    float: right;
    padding-right: 0.75em;
}

#qv-size-toggle.contract:before {
    content:"m";
}

#qv-size-toggle.expand:before {
    content:"M";
}

#qv-comments {
    -webkit-transition: height 0.4s 0.0s;
    -moz-transition: height 0.4s 0.0s;
    transition: height 0.4s 0.0s;
    background: #FEFEFE;
    overflow: auto;
}

#qv-side.large #qv-comments {
    height: 480px;
}

#qv-side.small #qv-comments {
    height: 360px;
}

.qv-comment {
    margin: 0.75em 1em;
}

.qv-content {
    font-size: 1.125em;
}

.qv-author {
    color: #9F9F9F;
    font-size: 0.75em;
}

.qv-date {
    color: #9F9F9F;
    font-size: 0.75em;
    float: right;
}
